/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Typographical base selectors.
 */





/**
 * The base typographic settings.
 *
 * 1) Enable Open Type features (ligatures, kerning).
 */

html {
    font-size: 1.1875em;
}

    @media only screen and (min-width: 30em) {
        html {
            font-size: 1.125em;
        }
    }

body {
    font-family: Georgia, serif;
    font-weight: 400;
    line-height: 1.38889;
    color: rgb(33, 33, 33);
    -webkit-font-feature-settings: "kern" 1, "liga" 1; /* [1] */
    -moz-font-feature-settings: "kern" 1, "liga" 1; /* [1] */
    -moz-font-feature-settings: "kern=1, liga=1"; /* [1] */
    -ms-font-feature-settings: "kern" 1, "liga" 1; /* [1] */
    -o-font-feature-settings: "kern" 1, "liga" 1; /* [1] */
    font-feature-settings: "kern" 1, "liga" 1; /* [1] */
    text-transform: none;
    padding-left: .8rem;
    padding-top: .8rem;
    padding-right: .8rem;
    padding-bottom: .8rem;
}

    @media only screen and (min-width: 30em) {
        body {
            padding-left: 1.72222222rem;
            padding-top: 1.72222222rem;
            padding-right: 1.72222222rem;
            padding-bottom: 1.72222222rem;
        }
    }

    .js-fonts-loaded body {
        font-family: Tisa, Georgia, serif;
    }





::selection {
    background-color: rgb(220, 220, 220);
}





/**
 * The baseline grid and measure.
 *
 * 1) 25px leading in standard situations.
 * 2) Measure of roughly 66 characters.
 */

p,
h1, h2, h3, h4, h5, h6,
ul, ol {
    margin-top: 0;
    margin-bottom: 1.38889rem; /* [1] */
    max-width: 28.38889rem; /* [2] */
}





/**
 * Headings.
 *
 * Headings generally should be bold. Let's also remove margins.
 */

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
	font-weight: 700;
}

/**
 * 1) Defaults back to 21px in most circumstances.
 * 2) Default baseline grid of 25px.
 */

h1 {
    font-size: 1.16666666rem; /* [1] */
    line-height: 1.38889rem; /* [2] */
}

h3 {
    font-style: italic;
}

h4, h5, h6 {
    font-weight: normal;
}





/**
 * Blockquotes.
 *
 */

blockquote {
    border-left: 2px solid rgb(33, 33, 33);
    padding-left: .4em;
    margin-left: -.4em;
    font-style: italic;
}

    @media only screen and (min-width: 30em) {
        blockquote {
            padding-left: .7em;
            margin-left: -.7em;
        }
    }




/**
 * Code pieces.
 */

pre, code {
    font-family: "Andale Mono", "Consolas", "Courier New", Courier, monospace;
    font-size: .88888rem;
    line-height: 1.38889rem;
}

/**
 * Code that is not inside a pre element: inline pieces of code.
 *
 * 1) Prevent from breaking to the next line.
 * 2) Return back to normal line-height. There is this weird thing with
 *    Andale Mono's line-height and I can't figure out what's wrong.
 */

:not(pre) > code {
    color: rgb(140, 140, 140);
    padding-left: .1em;
    padding-right: .1em;
    padding-top: .1em;
    padding-bottom: .1em;
    white-space: nowrap; /* [1] */
    line-height: normal; /* [2] */
}


/**
 * 1) Keep up with the baseline grid: default baseline grid distance + (default
 *    baseline grid distance - padding-bottom).
 * 2) Same as above: keep in mind most of the time collapsing margins will
 *    occur, so this is what we're after.
 * 3) Values tied to each other.
 * 4) IE8 and earlier fall-back for vw.
 * 5) Breaking out of the p container. Using the full viewport width minus the
 *    left and right padding as defined on the html element, plus the left
 *    padding.
 */

pre {
    margin-bottom: 1.778rem; /* [1] */
    margin-top: 1.778rem; /* [2] */
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .9rem; /* [3] */
    padding-right: .9rem;
    border-radius: 2px;
}

    @media only screen and (min-width: 30em) {
        pre {
            margin-left: -.9rem; /* [3] */
            margin-right: -.9rem;
        }
    }





/**
 * Typographic lists.
 *
 * 1) Remove default padding.
 */

ul, ol {
    padding-left: 0; /* [1] */
}

/**
 * 1) Dots are ugly, let's design dashes...
 */

ul {
	list-style: none; /* [1] */
}

	/**
	 * 1) Creates positioned ancestor for "–" signs."
	 */

	ul li {
		position: relative; /* [1] */
	}

	/**
	 * 1) Inserts the "–" before the list items.
	 * 2) Moves it a bit to the left.
	 */

	ul li:before {
		content: "–"; /* [1] */
		position: absolute; /* [2] */
		left: -.65em; /* [2] */
	}

    @media only screen and (min-width: 30em) {
        ul li:before {
            left: -.9em;
        }
    }

/**
 * 1) Normal list-style-items are positioned a bit too far inside the margin.
 *    This fixes that problem.
 */

ol {
    list-style-position: inside; /* [1] */
    margin-left: -.9em; /* [1] */
}
