/*------------------------------------*\
    #MASTHEAD
\*------------------------------------*/

/**
 * The website's main header.
 */





.c-masthead {
    margin-bottom: 1.38889rem;
}

    @media only screen and (min-width: 35.5em) {
        .c-masthead {
            margin-bottom: 4.16111rem;
        }
    }

    /**
     * 1) Overwriting base.type.css
     */

    .c-masthead__line {
        margin: 0; /* [1] */
        max-width: none; /* [1] */
    }

    /**
     * 1) If it's an h1 element, overwrite base.type.css.
     * 2) If it's no h1 element, make it bold.
     */

    .c-masthead__title {
        font-size: inherit;
        font-weight: 700; /* [2] */
    }

    /**
     * 1) If it's an h2 element, unbolden it.
     */

    .c-masthead__subtitle {
        font-weight: normal;
    }

    /**
     * 1) In line with the baseline grid.
     * 2) Horizontal grid.
     */

    .c-masthead__branding,
    .c-masthead__nav {
        display: inline-block;
        margin-bottom: 1.38889rem; /* [1] */
        width: 13.38889rem; /* [2] */
    }

    /**
     * 1) In line with horizontal grid.
     */

    .c-masthead__branding {
        margin-right: 1.6667rem; /* [1] */
    }
