/*------------------------------------*\
    #SCREENSHOTS
\*------------------------------------*/

/**
 * Image screenshots
 */





.c-screenshot {
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 14px #ccc;
}

    @media only screen and (min-width: 30em) {
        .c-screenshot {
            border-top-width: 16px;
            border-bottom-width: 16px;
        }
    }

    @media only screen and (min-width: 55em) {
        .c-screenshot {
            border-top-width: 22px;
            border-bottom-width: 22px;
        }
    }
