<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} — {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/generic.normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/generic.box-sizing.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/generic.fontface.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/base.type.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/base.links.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/base.media.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/objects.media-container.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.masthead.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.nav.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.lists.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.index.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.posts.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/components.screenshots.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/wins.text-utilities.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/wins.media-utilities.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">-->
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/thehotseat" />

    <meta property="og:title" content="Thomas Byttebier">
    <meta property="og:type" content="profile">
    <meta property="og:profile:first_name" content="Thomas">
    <meta property="og:profile:last_name" content="Byttebier">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/thomas-byttebier-avatar-400-web.jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
</head>
