<header class="c-masthead">
    <div class="c-masthead__branding">
        {% if page.no-title == true %}<h1 class="c-masthead__title c-masthead__line">{% else %}<p class="c-masthead__title c-masthead__line">{% endif %}
            <a class="u-text-no-underline" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% if page.no-title == true %}</h1>{% else %}</p>{% endif %}

        {% if page.no-title == true %}<h2 class="c-masthead__subtitle c-masthead__line">{% else %}<p class="c-masthead__subtitle c-masthead__line">{% endif %}
            Digital Director
        {% if page.no-title == true %}</h2>{% else %}</p>{% endif %}
    </div><!--

    --><nav class="c-masthead__nav">
        <ul class="c-nav">
            <li class="c-nav__item"><a href="{{ "/" | prepend: site.baseurl }}">About</a></li>
            <li class="c-nav__item"><a href="{{ "/blog/" | prepend: site.baseurl }}">Writing</a></li>
        </ul>
    </nav>

</header>
