<header>

    {% if page.no-title == true %}<h1>{% else %}<p>{% endif %}
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if page.no-title == true %}</h1>{% else %}</p>{% endif %}

    {% if page.no-title == true %}<h2>{% else %}<p>{% endif %}
        Freelance designer
    {% if page.no-title == true %}</h2>{% else %}</p>{% endif %}

    <p>
        Apps, web sites, UX
    </p>

    <nav>
        <ul>
            <li><a href="{{ "about.md" | prepend: site.baseurl }}">About me</a></li>
            <li><a href="{{ "work.md" | prepend: site.baseurl }}">Past work</a></li>
            <li><a href="{{ "blog.md" | prepend: site.baseurl }}">Writing</a></li>
        </ul>
    </nav>

</header>
