<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} — {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description | strip_html | strip_newlines }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


    <!-- facebook open graph tags -->
{% if page.layout == 'post' %}
    <meta property="og:type" content="article">
    {% if page.metaimage %}<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.imgpath }}{{ page.metaimage }}">{% endif %}
{% else %}
    <meta property="og:type" content="profile">
    <meta property="og:profile:first_name" content="Thomas">
    <meta property="og:profile:last_name" content="Byttebier">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/thomas-byttebier-avatar-400-web.jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
{% endif %}
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %} — {{ site.title }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% elsif page.meta-description %}{{ page.meta-description }}{% else %}{{ site.description }}{% endif %}">


    <!-- additional twitter meta tags -->
{% if page.layout == 'post' %}
    <meta name="twitter:card" content="summary_large_image">
    {% if page.metaimage %}<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.imgpath }}{{ page.metaimage }}">{% endif %}
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/thomas-byttebier-avatar-400-web.jpg">
    <meta name="twitter:image:alt" content="Avatar of Thomas Byttebier">
{% endif %}
    <meta name="twitter:site" content="@bytte">
    <meta name="twitter:creator" content="@bytte">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %} — {{ site.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% elsif page.meta-description %}{{ page.meta-description }}{% else %}{{ site.description }}{% endif %}">



</head>
