/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * The lists of posts on the blog and portfolio overview pages.
 *
 * 1. c-list--portfolio
 **/





.c-list { }

    .c-list__item { }

    .c-list__date {
        display: inline-block;
        width: 100%;
    }

        .c-list__date:after {
            content: ":";
        }

    @media only screen and (min-width: 30em) {
        .c-list__date {
            width: 6rem;
        }

        .c-list__date:after {
            content: "";
        }
    }

.c-list--portfolio {
    max-width: none;
}

    .c-list--portfolio .c-list__item:before {
        content: "";
    }
