/*------------------------------------*\
    #INDEX
\*------------------------------------*/

/**
 *
 **/





/**
 * 1) Vertical rhythm.
 */

.c-index {
    margin-bottom: 2.7778rem; /* [1] */
    clear: both;
}

    .c-index__media {
        display: none;
    }

        @media only screen and (min-width: 45em) {

            /**
             * 1) Horizontal grid size.
             */

            .c-index__media {
                display: block;
                float: left;
                max-width: 241px; /* [1] */
            }

        }

    .c-index__img {
        max-width: 100%;
    }

    .c-index__title {
        margin-bottom: 0;
    }

        @media only screen and (min-width: 45em) {
            .c-index__title {
                margin-left: 271px;
            }
        }



    .c-index__intro {

    }

        @media only screen and (min-width: 45em) {
            .c-index__intro {
                margin-left: 271px;
            }
        }
